<%- include('partials/header'); -%>

<div class="container">
  <h3> <%= post.title %> </h3>
  <p> <%= post.body %> </p>
</div>


<a class="btn btn-sm btn-danger" href=" <%= '/posts/delete/' + post.id %> ">Delete</a>

<%- include('partials/footer'); -%>
